*{
    margin:0px;
}
.matriz{
    margin-top: 5vh;
    display:flex;
    flex-direction:column;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    height:80vh;
}
.button{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
}
button{
    padding:3vh;
    border-radius: 20%;
}
img{
    width: 200px;
    height: 200px;
}